---
import ProviderAnimations from '@/components/layout/provider-animations.astro'
import TailwindIndicator from '@/components/layout/tailwind-indicator.astro'
import { cn } from '@/lib/utils'
import '@/styles/globals.css'

type Props = {
  title: string
  description?: string
  lang?: string
  mainClass?: string
  bodyClass?: string
}

import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/header.astro'
import ViewTransitions from 'astro/components/ViewTransitions.astro'

const { title, description, mainClass, bodyClass } = Astro.props as Props
import CanvasCursor from '@/components/ui/canvas-cursor'
import { ScrollToTop } from '@/components/ui/scroll-to-top'
import I18NHeader from '@/i18n/I18nHeaders.astro'
import I18NHeaders from '@/i18n/I18nHeaders.astro'
import { getLangFromUrl } from '@/i18n/utils'
const lang = getLangFromUrl(Astro.url)
---

   


<!doctype html>
<html lang={lang} class="bg-trancperent text-foreground scroll-smooth">
	<head>
		<BaseHead title={title} description={description || ''} lang={lang} />
        <ViewTransitions />
		<ProviderAnimations />
		<script src="../assets/css/main.css"></script>
		<script is:inline type='text/javascript'>document.addEventListener('DOMContentLoaded', function () {window.setTimeout(document.querySelector('svg').classList.add('animated'),1000);})</script>
		<Fragment set:html={import.meta.env.HEADER_INJECT} />
		<I18NHeaders />
	</head>
	<body class={cn('flex flex-col  antialiased min-h-screen', bodyClass)}>
		<CanvasCursor client:load />
		<Header />
			<main class={cn(mainClass)}>
				<ScrollToTop client:load />
				<slot />
				<TailwindIndicator />
			</main>
		<Footer />
		<script src="../assets/js/main.js"></script>
		<Fragment set:html={import.meta.env.FOOTER_INJECT} />
	</body>
</html>


<style is:global>
	img {
		content-visibility: auto;
	}
	.prose img {
        border-radius: 20px;
      }

	  
</style>

